<p>
  <h4>{{ __('Специализация тренера', 'temptraining') }}</h4>
  <input type="text" name="extra[spec]" value="{{ meta.spec }}" style="width:100%" />
</p>

<p>
  <h4>{{ __('ID Тренера', 'temptraining') }}</h4>
  <input type="text" name="extra[coach_id]" value="{{ meta.coach_id }}" style="width:100%" />
</p>

<p>
  <h4>{{ __('Бэджик тренера', 'temptraining') }}</h4>
  
  <figure id="label_image_preview" class="coach-meta-thumbnail" {% if not meta.label %}style="display: none;{% endif %}">
    <img id="meta-image-preview" src="{% if meta.label %}{{ Image(meta.label).src }}{% endif %}" />
  </figure>
  
  <input type="hidden" name="extra[label]" id="label_image" style="width:100%" 
    value="{% if meta.label %}{{ meta.label }}{% endif %}" />
  <input type="button" id="label_image_button" class="button" value="{{ __('Выбрать или загрузить', 'temptraining') }}" />
</p>

<input type="hidden" name="extra_fields_nonce" value="{{ fields_nonce }}" />

<script type="text/javascript">
  +function($){
    $(document).on('click', '#label_image_button', function(){
      var send_attachment_bkp = wp.media.editor.send.attachment;

      wp.media.editor.send.attachment = function(props, attachment) {
        $('#label_image_preview').show().find('img').attr('src',attachment.url);
        wp.media.editor.send.attachment = send_attachment_bkp;
        $('#label_image').val(attachment.id);
      }
      
      wp.media.editor.open();
 
      return false;
    });
  }(jQuery);
</script>