{% extends "cabinet_base.twig" %}

{% block header %}
<section class="dash-header is-client">
  <figure class="dash-header__image">
    <img src="{{client.photo_url}}" alt="{{client.name}}" />
  </figure>
  <div class="dash-header__data">
    <h3 class="title">{{ client.name }}</h3>
    <div class="text">
      <span>{{client.client_tarif_name}}</span>
      <span><strong>Тренер</strong>: {{ client.coach_name }}</span>
      <span>
        <strong>Оплата</strong>:
        <span class="{{ client.pay_class }}">
          {% if client.pay_date %}{{client.pay_date|date("d.m.Y")}}{% else %}еще не производилась {% endif %}
          {% if client.pay_interval %}({{client.pay_interval}}){% endif %}
        </span>
      </span>
    </div>
  </div>
</section>

{% if client.waiting_orders %}
  
{% endif %}

{% if tpl %}
  <section class="dash-info {{ tpl.status }}">
    <h4 class="dash-info__title">{{ tpl.title }}</h4>
    <div class="dash-info__text">{{ tpl.message }}</div>
    <a class="dash-info__close" href="{{ fn('site_url', 'client/') }}"><i class="ion ion-close-circled"></i></a>
  </section>
{% endif %}

{% if not client.recurring_id and options.alert_reccuring %}
  <section class="dash-info error">
    <h4 class="dash-info__title">Внимание!</h4>
    <div class="dash-info__text">{{ options.alert_reccuring }}</div>
  </section>
{% endif %}

{% endblock %}

{% block content %}
<div class="row-flex">
  {% if options.yakassa_position == client.can_pay %}
    {% include('form_yakassa.twig') %}
  {% endif %}
  
  {% if options.openbank_position == client.can_pay %}
    {% include('form_openbank.twig') %}
  {% endif %}

  {% if client.history %}
    <div class="col-flex is-1-4 is-1-3-tab is-1-3-lap">
      <button type="button" class="btn-billing__client slide-toggle" rel="#client_{{client.client_id}}_pay_history">
        <span class="btn-billing__client-icon"></span> <span>История платежей</span>
      </button>
    </div>
  {% endif %}
</div>

{% if client.history %}
  <div id="client_{{client.client_id}}_pay_history" class="dash-coaches" style="display: none;" data-list="" 
    {% if client.history|length > 5%}data-list-pages="5"{% endif %}
    data-list-options='{
      "valueNames": ["date"], 
      "listClass": "client-{{client.client_id}}-history-list"
    }'>
    
    <ul class="client-{{client.client_id}}-history-list">
      {% for pay in client.history %}
        <li class="client-row history-row">
          <i class="jstree-icon jstree-themeicon" role="presentation"></i>
          <span class="fix-2">
            <i class="ion ion-calendar"></i>&nbsp;
            <span class="date">{{pay.date|date("d.m.Y")}}</span>
          </span>
          <span class="fix-2">
            <i class="ion ion-card"></i>&nbsp;
            <span class="sum">{{pay.amount|number_format(2, '.', ' ')}}</span>
          </span>
        </li>
      {% endfor %}
    </ul>
    {% if client.history|length > 5%}<div class="listjs-pagination"></div>{% endif %}
  </div>
{% endif %}



{% include('offers.twig') %}

{% endblock %}