{% if atts.container %}<nav class="{{ atts.container }}">{% endif %}
  <ul {% if atts.id %}id="{{ atts.id }}"{% endif %} class="menu">
    {% for item in menu.get_items %}
      <li class="{{item.classes | join(' ')}}">
        <a href="{{item.get_link}}">{{item.title}}</a>
        {% if item.children %}
          <ul class="sub-menu">
            {% for child in item.children %}
              <li class="{{child.classes | join(' ')}}">
                <a href="{{ child.link }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% if atts.container %}</nav>{% endif %}